<html>
<head>
    {% include('head.twig') %}
    <title>Log In To Sindria</title>
</head>
<body>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <form id="loginForm">
            <div class="form-content">
                <h1 class="mdl-typography--text-left">Login!</h1>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="username">
                    <label class="mdl-textfield__label" for="username">Username</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                <br>
                <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored">
                    Go <i class="material-icons">send</i>
                </button>
            </div>
            <div class="spinner-overlay">
                <div class="mdl-spinner mdl-js-spinner is-active" id="signupLoader"></div>
                <br>
                Logging you in! May take a moment...
            </div>
        </form>
        <small>Don't have an account yet? <a href="/signup">Sign up!</a></small>
    </div>
</div>
<script src="/Scripts/Toast.js"></script>
<script src="/Scripts/LogIn.js"></script>
<script>
    var login = new LogIn('loginForm');
</script>
</body>
</html>